{% extends 'shortlinks/base.html' %}

{% block content %}

    <div class="card-body">
        <form action="{% url 'add_link' %}" method="POST" id="main" class="form-inline w-100">
            {% csrf_token %}
            <div class="form-group col-lg-9">
                <input autocomplete="off" autofocus="autofocus" id="url" name="url" placeholder="Введите ссылку"
                       type="text" value="" class="form-control w-100  form-control-lg">
            </div>
            <div class="col-lg-3">
                <button type="submit" id="convert" class="btn btn-danger btn-lg w-100">Сократить</button>
            </div>
        </form>
        {% if user.is_authenticated %}
            <a href="/linkslist" style="width: 100%;">Все ссылки</a>
        {% endif %}

    </div>

{% endblock content %}

